<launch>
	            <include file="$(find multi_robot_nav)/launch/tests/test_world.launch">
	                <arg name="real_x" value="3.473"/>
	                <arg name="real_y" value="2.648"/>
	                <arg name="fake_x" value="3.473"/>
	                <arg name="fake_y" value="2.648"/>
	                <arg name="world_location" value="/home/user/multiNav_ws/src/chris-worlds/maps/lab_complete.world"/>
	                <arg name="map_file" value="/home/user/multiNav_ws/src/multi_robot_nav/maps/lab_submaps/lab_world_complete.yaml"/>
	            </include>
        </launch>